.fixed-nav-bar { position: fixed; top: 0; left: 0; z-index: 9999; width: 100%; height: 50px; } */

body {
    margin: 0px;
    padding: 0px;
}

ul {
    display: flex;
    margin: auto;
    padding: 12px;
    background-color: white;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif, serif;
    color: #42855B;
}

li {
    display: flex;
}

.navleft, .navright{
    margin: auto;
}

.navmid {
    margin: auto;
    padding: 8px 16px;
}

a:link {
    margin: 4px;
    padding: 6px 12px;
    color: #42855B;
    text-decoration: none;
}

a:hover, a:active, a:visited {
    color: #42855B;
    text-decoration: underline;
}

ul li ul.dropdown {
    display: none;
    position: absolute;
}

ul li:hover ul.dropdown {
    display: block;
}

ul li ul.dropdown li {
    display: block;
}