body {
    margin: 0px;
    padding: 0px;
}

ul {
    display: block;
    border: 1px solid #362706;
    margin: auto;
    padding: 4px;
    background-color: white;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif, serif;
    color: #42855B;
}

li, a:link {
    display: inline-block;
    margin: 4px;
    padding: 6px 12px;
    color: #42855B;
    text-decoration: none;
}

a:hover, a:active, a:visited {
    color: #42855B;
    text-decoration: underline;
}

ul li ul.dropdown {
    display: none;
    position: absolute;
}

ul li:hover ul.dropdown {
    display: block;
}

ul li ul.dropdown li {
    display: block;
}