/*@media screen and (min-width: 700px) {*/

.nav2 {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 50px;
}

body {
    margin: 0px;
    padding: 0px;
}

ul {
    display: flex;
    margin: auto;
    padding: 12px;
    background-color: white;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif, serif;
    color: #42855B;
}

li {
    display: flex;
}

.navleft, .navright{
    margin: auto;
}

.navmid {
    margin: auto;
    padding: 8px 16px;
}

a:link {
    margin: 4px;
    padding: 6px 12px;
    color: #42855B;
    text-decoration: none;
}

a:hover, a:active, a:visited {
    color: #42855B;
    text-decoration: underline;
}

ul li ul.dropdown {
    display: none;
    position: absolute;
}

ul li:hover ul.dropdown {
    display: block;
}

ul li ul.dropdown li {
    display: block;
}

/*
.nav2mobile, .nav2script {
    display: none;
}*/







/*SMALLER SMALLER SMALLER SMALLER SMALLER SMALLER SMALLER SMALLER SMALLER SMALLER SMALLER */
/*
@media screen and (max-width: 699px) {
    
.nav2mobileclass {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.nav2content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.nav2mobileclass a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.nav2mobileclass a:hover, .nav2mobileclass a:focus {
  color: #f1f1f1;
}

.nav2mobileclass .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.nav2 {
    display: none;
}
}
*/