@font-face { 
    font-family: InterRight;
    src: url("InterTight-VariableFont_wght.ttf");
}

@media screen and (min-width: 700px) {

.pfoot1 {
    display: flex;
    margin-top: 5%;
    margin-left: 90%;
    font-size: 12px;
}

.pfoot2 {
    display: flex;
    margin-top: 4px;
    margin-left: 90%;
    font-size: 12px;
}

.pfoot3 {
    display: flex;
    margin-top: 4px;
    margin-bottom: 2%;
    margin-left: 90%;
    font-size: 12px;
}

h1 {
    display: flex;
    margin-top: 8%;
    margin-left: 3%;
    font-family: InterRight;
    font-style: italic;
    color: black;
}

.h1v2 {
    display: flex;
    margin-top: 20%;
    margin-left: 35%;
    font-family: InterRight;
    font-style: italic;
    font-size: 42px;
    color: black;
}

p {
    display: flex;
    border: none;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.p1 {
    width: 60%;
    margin-top: 10%;
    font-size: 22px;
}

.p2 {
    margin-top: 10%;
    margin-left: 60%;
    font-size: 30px;
}

.p3 {
    margin: 10% auto;
    width: 75%;
    font-size: 20px;
}

.p4 {
    width: 40%;
    margin-top: 20%;
    margin-left: 50%;
    font-size: 18px;
    text-align: center;
}

.p5 {
    width: 25%;
    margin-top: 4%;
    margin-left: 15%;
    font-size: 22px;
}

.p6 {
    width: 20%;
    margin-top: 3%;
    margin-left: 60%;
    font-size: 22px;
}

.p7 {
    width: 80%;
    margin-top: 7%;
    font-size: 15px;
}

.p8 {
    width: 80%;
    font-size: 15px;
}

.p9 {
    width: 80%;
    font-size: 15px;
}

.p10, .p11, .p12, .p13 {
    width: 55%;
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 14px;
}

.p10, .p12 {
    margin-left: 40%;
}

.p11, .p13 {
    margin-left: 5%;
}

.p10 {
    margin-top: 5%;
}

.imgfooter {
    display: flex;
    margin-right: 4px;
    width: 10%;
    height: 10%;
}

.imgfooter:hover {
    width: 11%;
    height: 11%;
}

footer {
    background: url("emoticon2.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.embedvideo {
    margin-left: 50%;
    margin-bottom: 5%;
}

}



/*SMALLER SMALLER SMALLER SMALLER SMALLER SMALLER SMALLER SMALLER SMALLER SMALLER SMALLER */

@media screen and (max-width: 699px) {

    .pfoot1 {
        display: flex;
        margin-top: 5%;
        margin-left: 90%;
        font-size: 10px;
    }
    
    .pfoot2 {
        display: flex;
        margin-top: 1%;
        margin-left: 90%;
        font-size: 12px;
    }
    
    .pfoot3 {
        display: flex;
        margin-top: 1%;
        margin-bottom: 1%;
        margin-left: 90%;
        font-size: 12px;
    }


    h1 {
        display: flex;
        margin-top: 15%;
        margin-left: 3%;
        color: black;
    }
    
    .h1v2 {
        display: flex;
        margin-top: 20%;
        margin-left: 35%;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: lighter;
        font-size: 28px;
        color: black;
    }
    
    p {
        display: flex;
        border: none;
        margin: auto;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .p1 {
        width: 60%;
        margin-top: 10%;
        font-size: 18px;
    }
    
    .p2 {
        margin-top: 10%;
        margin-left: 60%;
        font-size: 22px;
    }
    
    .p3 {
        margin: 10% auto;
        width: 75%;
        font-size: 16px;
    }
    
    .p4 {
        width: 40%;
        margin-top: 20%;
        margin-left: 50%;
        font-size: 14px;
        text-align: center;
    }
    
    .p5 {
        width: 25%;
        margin-top: 4%;
        margin-left: 15%;
        font-size: 18px;
    }
    
    .p6 {
        width: 20%;
        margin-top: 3%;
        margin-left: 60%;
        font-size: 18px;
    }
    
    .p7 {
        width: 80%;
        margin-top: 7%;
        font-size: 14px;
    }
    
    .p8 {
        width: 80%;
        font-size: 14px;
    }
    
    .p9 {
        width: 80%;
        font-size: 14px;
    }
    
    .p10, .p11, .p12, .p13 {
        width: 55%;
        margin-top: 3%;
        margin-bottom: 3%;
        font-size: 12px;
    }
    
    .p10, .p12 {
        margin-left: 40%;
    }
    
    .p11, .p13 {
        margin-left: 5%;
    }
    
    .p10 {
        margin-top: 5%;
    }

    .imgfooter {
        display: flex;
        margin-right: 4px;
        width: 15%;
        height: 15%;
    }
    
    .imgfooter:hover {
        width: 18%;
        height: 18%;
    }
    
    footer {
        background: url("emoticon2.png");
        background-repeat: no-repeat;
        background-size: contain;
    }
    
    .embedvideo {
        margin-left: 50%;
        margin-bottom: 5%;
    } 
    }






/*PRINTING PRINTING PRINTING*/

@media print {

h1, p {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
    
h1 {
    font-family: InterRight;
    font-style: italic;
}

.nav2 {
    display: none;
}

.resumelink {
    display: none;
}

header, main, footer {
    margin: 2.54cm;
}
}